/* Layout container */
.layout-container {
  width: 100%;
  background: #f3f2ef;
}

/* Navbar */
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px;
  background: white;
  border-bottom: 1px solid #ddd;
  position: sticky;
  top: 0;
  z-index: 10;
}

.nav-logo {
  height: 38px;
  margin-right: 10px;
}

.nav-search {
  padding: 8px 12px;
  border-radius: 5px;
  border: 1px solid #ddd;
  width: 220px;
}

.nav-left {
  display: flex;
  align-items: center;
}

/* Nav items */
.nav-right {
  display: flex;
  gap: 30px;
}

.nav-item {
  text-align: center;
  color: gray;
  text-decoration: none;
  font-size: 13px;
}

.nav-item.active {
  color: #0a66c2;
  font-weight: bold;
}

.nav-icon {
  font-size: 20px;
}

/* Page wrapper */
.page-wrapper {
  display: flex;
  padding: 20px;
  gap: 20px;
}

/* Sidebar */
.sidebar {
  width: 230px;
  background: white;
  padding: 15px;
  border-radius: 10px;
  height: fit-content;
}

.sidebar-profile {
  width: 100%;
  border-radius: 50%;
}

.sidebar-name {
  text-align: center;
  margin-top: 10px;
}

.sidebar-link {
  margin: 10px 0;
  cursor: pointer;
}

/* Main content */
.main-content {
  flex: 1;
}

/* Right side */
.rightbar {
  width: 260px;
  background: white;
  padding: 15px;
  border-radius: 10px;
}

.rightbar ul li {
  margin: 8px 0;
}

.suggestion {
  display: flex;
  gap: 10px;
  align-items: center;
  margin: 12px 0;
}
